<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557063193602-am51ahi57djhdeg6bg8kro369uqd8mdc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557063193602-am51ahi57djhdeg6bg8kro369uqd8mdc</string>
	<key>API_KEY</key>
	<string>AIzaSyB3Ao2YdPrJWaaiMyF0zUh5NWhEubRb2N0</string>
	<key>GCM_SENDER_ID</key>
	<string>557063193602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jamestrada.ChatWithJames-iOS</string>
	<key>PROJECT_ID</key>
	<string>chat-with-james</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-with-james.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557063193602:ios:adfe63641147c9e4ac531b</string>
	<key>DATABASE_URL</key>
	<string>https://chat-with-james-default-rtdb.firebaseio.com</string>
</dict>
</plist>